.header {
	&__logo {
		padding: 1rem 0;
		text-align: center;
		background-color: white;
		position: sticky;

		@include drop-shadow;

		& > .site-name {
			@include ohmyfood-police;
			font-size: 1.8rem;
		}
	}
}

footer {
	padding: 1.5rem 1.2rem 2rem 1.2rem;
	background-color: lighten(black, 20);
	color: white;
	h2 {
		@include ohmyfood-police;
		font-weight: 200;
		font-size: 1.2rem;
		padding-bottom: 1.2rem;
	}
	& > ul {
		& > li {
			line-height: 1.5rem;

			width: 100%;
		}
	}
	i {
		width: 1rem;
		margin-right: 0.7rem;
	}

	a {
		color: $light-gray;
		font-weight: 400;
		font-size: 0.98rem;
	}
}
