* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin-top: 2rem;
  padding: 1rem 1rem;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(175deg, #dd79da 43%, #9356dc 100%);
  -webkit-transition: opacity ease-in-out 200ms, -webkit-box-shadow ease-in-out 200ms;
  transition: opacity ease-in-out 200ms, -webkit-box-shadow ease-in-out 200ms;
  transition: opacity ease-in-out 200ms, box-shadow ease-in-out 200ms;
  transition: opacity ease-in-out 200ms, box-shadow ease-in-out 200ms, -webkit-box-shadow ease-in-out 200ms;
}
button > a {
  font-weight: 500;
  color: white;
}
button:hover {
  -webkit-box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25);
  opacity: 0.93;
}

.header__logo {
  padding: 1rem 0;
  text-align: center;
  background-color: white;
  position: sticky;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.header__logo > .site-name {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}

.localisation {
  padding: 0.9rem 0;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.localisation > .localisation__block {
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.localisation > .localisation__block > span {
  margin-right: 30px;
  margin-left: 15px;
  font-size: 0.95rem;
  font-weight: 500;
}

.welcome {
  background-color: #f6f6f6;
}
.welcome__text {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.welcome__text > h1 {
  font-size: 1.5rem;
  font-weight: 900;
  width: 70%;
}
.welcome__text > p {
  color: #1a1a1a;
  font-size: 1.1rem;
  font-weight: 300;
}

.fonctionnement {
  margin-top: 3rem;
  padding-left: 1rem;
  font-weight: 900;
}