// Through 4 because one restaurant have 4 starter.
@for $i from 1 through 4 {
	.menu__service li:nth-child(#{$i}) {
		animation: $menu_duration ease-in-out $menu_delay * $i show-recipe;
		animation-fill-mode: both;
	}
}

// Through 3 cause there is 3 services: Start dish dessert.
@for $i from 1 through 3 {
	.menu__service:nth-child(#{$i}) h2,
	.menu__service:nth-child(#{$i}) .green-line {
		animation: $menu_duration linear 150ms show-recipe;
		animation-fill-mode: both;
	}
}
